header {
  position: relative;
  background: #03A9F4;
  padding: 5rem 0 7rem 0;
  color: #FFFFFF;
  margin-bottom: 3rem;
}
.callout {
  display: inline-block;
  img {
    margin-right: 2rem;
    max-width: 300px;
  }
  p {
    margin-top: .54rem;
    padding: 0;
  }
  i {
    margin-left: .5rem;
  }
}
.author-credit {
  position: absolute;
  bottom: 0;
  a {
    color: #FFFFFF;
  }
}
